# <font color = blue>[Calculation]</font>

## <font color = blue>Import Packages+Data</font>

In [199]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import datetime

In [200]:
cam_df = pd.read_csv("./Raw Data/sample_campaigns - data.csv")
user_df = pd.read_csv("./Raw Data/sample_users - data.csv")
brands_df = pd.read_csv("./Raw Data/sample_brands - data.csv")

In [201]:
#Rename Columns
cam_df = cam_df.rename(columns={'created': 'cam_created'})

In [202]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      836 non-null    object
 1   created      836 non-null    object
 2   planLevel    836 non-null    int64
 3   lastActive   835 non-null    object
 4   companySize  315 non-null    object
 5   country      725 non-null    object
dtypes: int64(1), object(5)
memory usage: 39.3+ KB

In [203]:
cam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    300 non-null    object
 1   user_id        299 non-null    object
 2   payment        300 non-null    object
 3   updated        300 non-null    object
 4   cam_created    300 non-null    object
 5   isUnpublished  300 non-null    bool
 6   isDeleted      300 non-null    bool
 7   isDraft        300 non-null    bool
 8   isApproved     300 non-null    bool
 9   isPublic       300 non-null    bool
 10  published      146 non-null    object
dtypes: bool(5), object(6)
memory usage: 15.7+ KB

In [204]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5839 entries, 0 to 5838
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand_id             5839 non-null   int64
 1   created              5839 non-null   object
 2   lastActive           5831 non-null   object
 3   planLevel            5839 non-null   int64
 4   num_sub_user         5839 non-null   int64
 5   role                 5833 non-null   object
 6   industry_categories  5816 non-null   object
 7   bantScore            1295 non-null   float64
 8   companySize          2406 non-null   object
 9   onboarding_stage     5600 non-null   float64
 10  country              4835 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 501.9+ KB

In [205]:
brands_df.drop(['num_sub_user', 'role','industry_categories','bantScore','companySize','onboarding_stage','country'], axis=1, inplace=True)

In [206]:
brands_df.shape

(5839, 4)

In [207]:
cam_df.shape

(300, 11)

In [208]:
user_df.shape

(836, 6)

In [209]:
#Left Join Dataset
test=cam_df.merge(user_df, on='user_id', how='left')
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    300 non-null    object
 1   user_id        299 non-null    object
 2   payment        300 non-null    object
 3   updated        300 non-null    object
 4   cam_created    300 non-null    object
 5   isUnpublished  300 non-null    bool
 6   isDeleted      300 non-null    bool
 7   isDraft        300 non-null    bool
 8   isApproved     300 non-null    bool
 9   isPublic       300 non-null    bool
 10  published      146 non-null    object
 11  created        256 non-null    object
 12  planLevel      256 non-null    float64
 13  lastActive     256 non-null    object
 14  companySize    82 non-null     object
 15  country        236 non-null    object
dtypes: bool(5), float64(1), object(10)
memory usage: 29.6+ KB

In [210]:
test.shape

(300, 16)

In [82]:
test.head()

,campaign_id,user_id,payment,updated,cam_created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published,created,planLevel,lastActive,companySize,country
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021/8/25 19:38,2021/8/25 19:35,False,False,True,False,False,NaN,2021/8/25 19:00,0.0,2021/8/25 19:38,10 - 49 employees,United States
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021/6/15 2:53,2021/6/15 2:31,False,False,True,False,False,NaN,2021/6/15 2:20,0.0,2021/7/12 23:29,less than 10 employees,United States
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020/6/26 17:32,2020/6/26 17:16,False,False,True,False,False,NaN,2020/4/23 13:38,0.0,2021/7/31 15:50,NaN,United States
3,5fce7222b0ebf60d3cd33336,5ac6677269741c3f0b12f699,"{'cash': {'available': False, 'budget': 2000},...",2020/12/7 18:20,2020/12/7 18:19,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021/9/27 15:35,2021/9/6 18:03,False,False,False,True,True,2021/9/27 15:35,2021/4/28 15:22,0.0,2021/9/30 17:11,less than 10 employees,United States

In [211]:
df = test.merge(brands_df, on=['created','lastActive','planLevel'], how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    300 non-null    object
 1   user_id        299 non-null    object
 2   payment        300 non-null    object
 3   updated        300 non-null    object
 4   cam_created    300 non-null    object
 5   isUnpublished  300 non-null    bool
 6   isDeleted      300 non-null    bool
 7   isDraft        300 non-null    bool
 8   isApproved     300 non-null    bool
 9   isPublic       300 non-null    bool
 10  published      146 non-null    object
 11  created        256 non-null    object
 12  planLevel      256 non-null    float64
 13  lastActive     256 non-null    object
 14  companySize    82 non-null     object
 15  country        236 non-null    object
 16  brand_id       126 non-null    float64
dtypes: bool(5), float64(2), object(10)
memory usage: 31.9+ KB

In [212]:
df.shape

(300, 17)

In [213]:
df.isnull().sum().sort_values(ascending=False).head(10)

companySize    218
brand_id       174
published      154
country         64
lastActive      44
planLevel       44
created         44
user_id          1
cam_created      0
payment          0
dtype: int64

In [214]:
df_clean = df.dropna(subset=['brand_id'])

In [215]:
df_clean.shape

(126, 17)

In [216]:
df_clean['brand_id']=df_clean['brand_id'].apply(np.int64)

/tmp/ipykernel_6113/2106004615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['brand_id']=df_clean['brand_id'].apply(np.int64)

In [217]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 0 to 294
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    126 non-null    object
 1   user_id        126 non-null    object
 2   payment        126 non-null    object
 3   updated        126 non-null    object
 4   cam_created    126 non-null    object
 5   isUnpublished  126 non-null    bool
 6   isDeleted      126 non-null    bool
 7   isDraft        126 non-null    bool
 8   isApproved     126 non-null    bool
 9   isPublic       126 non-null    bool
 10  published      65 non-null     object
 11  created        126 non-null    object
 12  planLevel      126 non-null    float64
 13  lastActive     126 non-null    object
 14  companySize    37 non-null     object
 15  country        115 non-null    object
 16  brand_id       126 non-null    int64
dtypes: bool(5), float64(1), int64(1), object(10)
memory usage: 13.4+ KB

In [218]:
df_clean.brand_id.value_counts().sort_values(ascending=False)

781     3
2023    2
1195    2
1722    2
3408    2
       ..
3605    1
2032    1
3569    1
1233    1
2614    1
Name: brand_id, Length: 115, dtype: int64

In [219]:
df_clean.head()

,campaign_id,user_id,payment,updated,cam_created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published,created,planLevel,lastActive,companySize,country,brand_id
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021/8/25 19:38,2021/8/25 19:35,False,False,True,False,False,NaN,2021/8/25 19:00,0.0,2021/8/25 19:38,10 - 49 employees,United States,1816
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021/6/15 2:53,2021/6/15 2:31,False,False,True,False,False,NaN,2021/6/15 2:20,0.0,2021/7/12 23:29,less than 10 employees,United States,4734
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': 0}, 'p...",2020/6/26 17:32,2020/6/26 17:16,False,False,True,False,False,NaN,2020/4/23 13:38,0.0,2021/7/31 15:50,NaN,United States,2960
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021/9/27 15:35,2021/9/6 18:03,False,False,False,True,True,2021/9/27 15:35,2021/4/28 15:22,0.0,2021/9/30 17:11,less than 10 employees,United States,2320
6,60e4800a4d9ca6124ae63b4f,60e4673b5e3f8b6eee44c509,"{'equity': {'budget': 0, 'available': False}, ...",2021/7/6 16:21,2021/7/6 16:08,False,False,True,False,False,NaN,2021/7/6 14:22,2.0,2021/7/13 16:49,less than 10 employees,United States,4565

In [220]:
df_clean.loc[df_clean['brand_id']==781] # Check if there is duplicates

,campaign_id,user_id,payment,updated,cam_created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published,created,planLevel,lastActive,companySize,country,brand_id
98,5df28f90151f570dac9decd3,5d9f4d3e5b44c00de5def97e,"{'cash': {'available': True, 'budget': 1000}, ...",2020/1/22 15:42,2019/12/12 19:05,True,False,False,False,False,2020/1/22 15:46,2019/10/10 15:24,0.0,2020/7/23 18:51,NaN,United States,781
160,5e286d4f7d367e0dc021ac41,5d9f4d3e5b44c00de5def97e,"{'cash': {'available': False, 'budget': 1000},...",2020/1/22 19:32,2020/1/22 15:42,True,False,False,False,False,2020/1/22 15:46,2019/10/10 15:24,0.0,2020/7/23 18:51,NaN,United States,781
182,5e7381ff1c121e0d9b0b77b2,5d9f4d3e5b44c00de5def97e,"{'cash': {'available': True, 'budget': 1250}, ...",2020/4/6 19:54,2020/3/19 14:30,True,False,False,False,False,2020/3/26 14:01,2019/10/10 15:24,0.0,2020/7/23 18:51,NaN,United States,781

## <font color = blue>Questions</font>

## What is the ratio of brands that published campaigns vs. did not publish any campaign within each plan level?

In [221]:
df_clean['campaign_id'].describe()

count                          126
unique                         126
top       5f9b01c29411230d6ab857d8
freq                             1
Name: campaign_id, dtype: object

In [222]:
temp1=df_clean.groupby(["isUnpublished", "planLevel"])["brand_id"].nunique().reset_index(name="Count")
temp1

   isUnpublished  planLevel  Count
0          False        0.0     63
1          False        2.0      1
2          False        3.0      5
3          False        9.0      3
4           True        0.0     41
5           True        1.0      1
6           True        3.0      1
7           True        9.0      3

In [223]:
temp1.fillna(0)
temp1.pivot(index='planLevel', columns='isUnpublished', values='Count')

isUnpublished  False  True
planLevel
0.0             63.0   41.0
1.0              NaN    1.0
2.0              1.0    NaN
3.0              5.0    1.0
9.0              3.0    3.0

In [224]:
#0: 1.54
#1: 0
#2: infinite
#3: 5.00
#9: 1.00

## How many brands continued to create campaigns after their first published one?

In [225]:
counts = df_clean['brand_id'].value_counts()
temp2 = df_clean[df_clean['brand_id'].isin(counts.index[counts > 1])]
temp2.shape

(21, 17)

In [226]:
temp2_1 = temp2.loc[temp2['isUnpublished'] == False]

In [227]:
temp2_1.brand_id.value_counts

<bound method IndexOpsMixin.value_counts of 20     1195
55     5192
68     3189
86     1195
107    3408
156    5192
195    2023
216    3189
220    3885
Name: brand_id, dtype: int64>

In [228]:
## 6 brands continued to create campaigns after their first published one

## Which brands have the highest paying campaigns?

In [229]:
from ast import literal_eval
df_clean.payment = df_clean.payment.apply(literal_eval)

/home/qinren/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [230]:
temp3 = df_clean.join(pd.json_normalize(df_clean.payment))

In [231]:
temp3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 0 to 294
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   campaign_id        126 non-null    object
 1   user_id            126 non-null    object
 2   payment            126 non-null    object
 3   updated            126 non-null    object
 4   cam_created        126 non-null    object
 5   isUnpublished      126 non-null    bool
 6   isDeleted          126 non-null    bool
 7   isDraft            126 non-null    bool
 8   isApproved         126 non-null    bool
 9   isPublic           126 non-null    bool
 10  published          65 non-null     object
 11  created            126 non-null    object
 12  planLevel          126 non-null    float64
 13  lastActive         126 non-null    object
 14  companySize        37 non-null     object
 15  country            115 non-null    object
 16  brand_id           126 non-null    int64
 17  cash.available     59 non-null     object
 18  cash.budget        58 non-null     float64
 19  cash.minBudget     15 non-null     float64
 20  product.available  59 non-null     object
 21  product.budget     59 non-null     float64
 22  royalty.available  59 non-null     object
 23  royalty.budget     59 non-null     float64
 24  equity.available   59 non-null     object
 25  equity.budget      59 non-null     float64
 26  mediaProduction    6 non-null      object
 27  product.requestCC  27 non-null     object
 28  royalty.prefix     1 non-null      object
 29  equity.prefix      1 non-null      object
dtypes: bool(5), float64(6), int64(1), object(18)
memory usage: 31.2+ KB

In [232]:
temp3=temp3.fillna(0)

In [233]:
temp3['Total_Pay']=temp3['cash.budget']+temp3['product.budget']+temp3['royalty.budget']+temp3['equity.budget']

In [234]:
max_element = temp3['Total_Pay'].max()
print(max_element)

100120.0

In [236]:
pd.set_option('display.max_columns', None)
temp3.loc[temp3['Total_Pay']==100120.0] #It is Brand 5083

,campaign_id,user_id,payment,updated,cam_created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published,created,planLevel,lastActive,companySize,country,brand_id,cash.available,cash.budget,cash.minBudget,product.available,product.budget,royalty.available,royalty.budget,equity.available,equity.budget,mediaProduction,product.requestCC,royalty.prefix,equity.prefix,Total_Pay
99,5f57f3349431f20d8c931276,5d7113d5c3cec45dc2e8a516,"{'cash': {'available': True, 'budget': 15000},...",2020/9/8 21:13,2020/9/8 21:10,True,False,False,True,False,2020/9/8 21:13,2019/9/5 13:55,1.0,2021/2/19 18:22,0,United States,5083,True,100000.0,0.0,True,100.0,False,10.0,False,10.0,0,0,0,0,100120.0

## How long does it take for new brands to publish a campaign?

In [239]:
df_clean['cam_created'] = pd.to_datetime(df_clean['cam_created']) #Change time variable into datetime type
df_clean['created'] = pd.to_datetime(df_clean['created']) 
df_clean['time']=df_clean.cam_created.copy()-df_clean.created.copy()
df_clean['time']= df_clean['time'].dt.days
df_clean['time'].describe()

/tmp/ipykernel_6113/3941685618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['cam_created'] = pd.to_datetime(df_clean['cam_created']) #Change time variable into datetime type
/tmp/ipykernel_6113/3941685618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['created'] = pd.to_datetime(df_clean['created']) #Change time variable into datetime type
/tmp/ipykernel_6113/3941685618.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['time']=df_clean.cam_created.copy()-df_clean.created.copy()
/tmp/ipykernel_6113/3941685618.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['time']= df_clean['time'].dt.days

count    126.000000
mean      42.349206
std       78.240278
min        0.000000
25%        0.000000
50%        6.500000
75%       47.750000
max      392.000000
Name: time, dtype: float64

## It takes about 42 days for new brand to launch a campaign